@media (max-width: 640px) {
    p {
        font-size: 1.25rem;
    }
   
   }
   
   @media (max-width: 768px) {
       p {
           font-size: 1.5rem;
       }
      
      }
   
      @media (max-width: 980px) {
       p {
           font-size: 1.7rem;
       }
      
      }  