<<<<<<< HEAD
@
=======
@media (max-width: 640px) {
    h1 {
        font-size: .5rem;
    }
   
   }
   
   @media (max-width: 768px) {
       h1 {
           font-size: .5rem;
       }
      
      }
   
      @media (max-width: 980px) {
       h1 {
           font-size: .5rem;
       }
      
      }  


      @media (max-width: 640px) {
        li {
            font-size: 1.25rem;
        }
       
       }
       
       @media (max-width: 768px) {
           li {
               font-size: 1.5rem;
           }
          
          }
       
          @media (max-width: 980px) {
           li {
               font-size: 1.7rem;
           }
          
          }  

          @media (max-width: 640px) {
            h2 {
                font-size: 1.25rem;
            }
           
           }
           
           @media (max-width: 768px) {
               h2 {
                   font-size: 1.5rem;
               }
              
              }
           
              @media (max-width: 980px) {
               h2 {
                   font-size: 1.7rem;
               }
              
              }  

              @media (max-width: 640px) {
                h3 {
                    font-size: 1.25rem;
                }
               
               }
               
               @media (max-width: 768px) {
                   h3 {
                       font-size: 1.5rem;
                   }
                  
                  }
               
                  @media (max-width: 980px) {
                   h3 {
                       font-size: 1.7rem;
                   }
                  
                  }  

                  @media (max-width: 640px) {
                    h4 {
                        font-size: 1.25rem;
                    }
                   
                   }
                   
                   @media (max-width: 768px) {
                       h4 {
                           font-size: 1.5rem;
                       }
                      
                      }
                   
                      @media (max-width: 980px) {
                       h4 {
                           font-size: 1.7rem;
                       }
                      
                      }  

                      @media (max-width: 640px) {
                        p {
                            font-size: 1.25rem;
                        }
                       
                       }
                       
                       @media (max-width: 768px) {
                           p {
                               font-size: 1.5rem;
                           }
                          
                          }
                       
                          @media (max-width: 980px) {
                           p {
                               font-size: 1.7rem;
                           }
                          
                          }  

                          @media (max-width: 640px) {
                            label {
                                font-size: 1.25rem;
                            }
                           
                           }
                           
                           @media (max-width: 768px) {
                               label {
                                   font-size: 1.5rem;
                               }
                              
                              }
                           
                              @media (max-width: 980px) {
                               label {
                                   font-size: 1.7rem;
                               }
                              
                              }  

                              

                              @media (max-width: 640px) {
                                h5 {
                                    font-size: 1.25rem;
                                }
                               
                               }
                               
                               @media (max-width: 768px) {
                                   h5 {
                                       font-size: 1.5rem;
                                   }
                                  
                                  }
                               
                                  @media (max-width: 980px) {
                                   h5 {
                                       font-size: 1.7rem;
                                   }
                                  
                                  }  












>>>>>>> 8a29ad9689e4e90e3baccec31f10bac5fb83d37a
